.form {
  display: flex;
  flex-direction: column;

  align-items: center;

  font-size: 1.3em;
}

.form label input {
  width: 100%;
  margin-top: 7px;
  padding: 12px 10px;
}

input {
  border: none;
  border-bottom: 2px solid rgba(229, 155, 36, 1);
  outline: none;
}

.form button {
  max-width: 80%;
  position: relative;
  margin: 0 auto;
  margin-top: 1em;
  background-color: #e59b24;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px;
  border: 5px solid rgba(229, 155, 36, 0.8);
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.4),
    0.2em 0.2em 1em rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  cursor: pointer;
}
